In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import re
import numpy as np
import pandas as pd
import pickle
import random
import collections
import json
from datetime import datetime

In [ ]:
overall_df=pd.read_excel('/content/drive/MyDrive/BIZ&AI_PAPER_11기/세희/memento/task/data/overall_data.xlsx')
train_df=pd.read_excel('/content/drive/MyDrive/BIZ&AI_PAPER_11기/세희/memento/task/data/train_data.xlsx')
test_df=pd.read_excel('/content/drive/MyDrive/BIZ&AI_PAPER_11기/세희/memento/task/data/test_data.xlsx')

#overall

In [ ]:
overall_df['date'] = overall_df['contexts'].str[0:13]
overall_df

               date                                           contexts
0     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
1     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
2     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
3     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
4     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
...             ...                                                ...
6615  2022년 12월 21일  2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...
6616  2022년 12월 21일  2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...
6617  2022년 12월 21일  2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...
6618  2022년 12월 21일  2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...
6619  2022년 12월 21일  2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...

[6620 rows x 2 columns]

In [ ]:
overall_df['date']=overall_df['date'].str.replace('년', '-')

In [ ]:
overall_df['date']=overall_df['date'].str.replace('월', '-')

In [ ]:
overall_df['date']=overall_df['date'].str.replace('일', '')

In [ ]:
overall_df['date']=overall_df['date'].str.replace(' ', '')

In [ ]:
overall_df['questions']=""
overall_df['answers']=""

In [ ]:
overall_df

,date,contexts,questions,answers
0,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
1,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
2,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
3,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
4,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
...,...,...,...,...
6615,2022-12-21,2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...,,
6616,2022-12-21,2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...,,
6617,2022-12-21,2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...,,
6618,2022-12-21,2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...,,
6619,2022-12-21,2022년 12월 21일 17시 29분에 히토리우동에서 말했다 제육볶음을 먹었다 양...,,

In [ ]:
overall_df.to_csv("overall_data.csv", index = False)

# train

In [ ]:
train_df['date'] = train_df['contexts'].str[0:13]
train_df

               date                                           contexts
0     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
1     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
2     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
3     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
4     2022년 12월 06일  2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다
...             ...                                                ...
5953  2022년 12월 18일  2022년 12월 18일 06시 58분에 히토리우동에서 말했다 야채곱창을 먹었는데 ...
5954  2022년 12월 18일  2022년 12월 18일 06시 58분에 히토리우동에서 말했다 야채곱창을 먹었는데 ...
5955  2022년 12월 19일  2022년 12월 19일 06시 58분에 히토리우동에서 말했다 야채곱창을 먹었는데 ...
5956  2022년 12월 19일  2022년 12월 19일 13시 00분에 스시도쿠에서 말했다 동기들이랑 회랑 소주를...
5957  2022년 12월 19일  2022년 12월 19일 13시 00분에 스시도쿠에서 말했다 동기들이랑 회랑 소주를...

[5958 rows x 2 columns]

In [ ]:
train_df['date']=train_df['date'].str.replace('년', '-')

In [ ]:
train_df['date']=train_df['date'].str.replace('월', '-')

In [ ]:
train_df['date']=train_df['date'].str.replace('일', '')

In [ ]:
train_df['date']=train_df['date'].str.replace(' ', '')

In [ ]:
train_df['questions']=""
train_df['answers']=""

In [ ]:
train_df

,date,contexts,questions,answers
0,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
1,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
2,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
3,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
4,2022-12-06,2022년 12월 06일 21시 27분에 집에서 말했다 가게 앞에서 귀여운 고양이를 봤다,,
...,...,...,...,...
5953,2022-12-18,2022년 12월 18일 06시 58분에 히토리우동에서 말했다 야채곱창을 먹었는데 ...,,
5954,2022-12-18,2022년 12월 18일 06시 58분에 히토리우동에서 말했다 야채곱창을 먹었는데 ...,,
5955,2022-12-19,2022년 12월 19일 06시 58분에 히토리우동에서 말했다 야채곱창을 먹었는데 ...,,
5956,2022-12-19,2022년 12월 19일 13시 00분에 스시도쿠에서 말했다 동기들이랑 회랑 소주를...,,
5957,2022-12-19,2022년 12월 19일 13시 00분에 스시도쿠에서 말했다 동기들이랑 회랑 소주를...,,

In [ ]:
train_df.to_csv("train_data.csv", index = False)

# test

In [ ]:
test_df.to_csv("test_data.csv", index=False)